@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-family: var(--fonte-principal);
    font-weight: normal;
    font-size: 51px;
    line-height: 100px;
}

/* classes úteis */

/* variáveis */
:root {
    --cor0: #031501;
    --fonte-destaque: 'Passion One', cursive;
    --fonte-principal: 'Sriracha', cursive;
}

/* header */

.header {
    background-color: black;
    color: white;
    text-align: center;
}

.titulo {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
    font-size: 10vw;
}

.paragrafos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-bottom: 50px;
    line-height: 16px;
}

.ator {
    font-weight: bold;
}



/* section */

.container {
    margin-top: 74px;
    margin-left: 30px;
}

.poema {
    padding-bottom: 50px;
}



/* section-2 */
.section-2 {
    background: url(/class-02/img/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
}

.section-2 .container{
    position: relative;
}

.section-2 .container .sub-c {
    color: white;
    background-color: #000F00;
    padding: 10px 2px;
    max-width: 600px;
    top: 90px;
    position: absolute;
}

/* section-4 */

.section-4 {
    background: url(/class-02/img/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
}


.section-4 .container{
    position: relative;
}

.section-4 .container .sub-c {
    color: white;
    background-color: #00000081;
    padding: 10px 5px;
    max-width: 700px;
    top: 90px;
    position: absolute;
}

/* footer */ 

.footer {
    margin-top: 74px;
    background-color: black;
    color: white;
}

.footer-p {
    line-height: 16px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-p > a {
    font-weight: bold;
}

.footer-p > a:hover {
    text-decoration: underline;
}